@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');

.container-banner {
  padding: 0 80px;
}

header {
  background-size: cover;
  width: 100%;
  text-align: center;
  position: relative;
  top: 70px;
}

.banner-content {
  top: 20%;
  left: 1px;
  right: 1px;
  padding: 20px;
  position: absolute;
}

header img {
  width: 100%;
  border-radius: 45px;
}

.section-search {
  position: relative;
  height: 80px;
  width: 70%;
  padding: 0 90px;
  opacity: 0.9;
  left: 50%;
  transform: translateX(-50%);
}

.search-travel {
  display: flex;
  background-color: #fff;
  border-radius: 40px;
  padding: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.input-search {
  flex-grow: 1;
  height: 40px;
  display: inline-block;
  border-style: solid;
  border-color: #e6e6e6;
  border-radius: 5px;
}

h1,
p {
  color: #4B3D4B;
}

h1 {
  padding: 20px 0 20px;
  font-family: 'Playfair Display', sans-serif;
  font-weight: bold;
  font-size: 50px;
}

p {
  font-size: 20px;
  padding: 0 0 30px 0;
}

.btn-get-started {
  background-color: #6b526b;
  color: #fff;
  border-radius: 8px;
  font-size: 16px;
  text-decoration: none;
  top: 90%;
  padding: 10px 15px;
  cursor: pointer;


  &:hover {
    background-color: #CBAACB;
    color: #fff;
  }
}

.title {
  color: #6b526b;
  font-size: 40px;
}

.desc-title {
  font-size: 20px;
}

.section-card {
  padding: 50px;
}

.card-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.section-networks {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20vh;
}

.content-networks {
  color: #6b526b;
}

.heading-content-networks {
  font-size: 40px;
  font-family: 'Playfair, Display', serif;
  font-weight: bold;
}

.section-testimonials {
  /* background: linear-gradient(#fff 0%,
      #f7f9ff 100%); */
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.card-list-testimonials {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.separation-line {
  border: 1px solid #e6e6e6;
}

.content-end {
  padding: 15px;
  text-align: center;
}