.section-popular-content {
    .section-popular-travel {
      .card-travel {
        background-color: #ddd;
        min-height: 380px;
        padding: 30px;
        margin-bottom: 20px;
        background-size: cover;
      }
  
      .travel-country {
        font-size: 18px;
        color: #fff;
      }
  
      .travel-location {
        font-size: 26px;
        color: #fff;
      }
  
      .travel-button {
        .btn-travel-details {
          background-color: #A87FA8;
          color: #fff;
  
          &:hover {
            background-color: #CBAACB;
            color: #fff;
          }
        }
      }
    }
  }
  