@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');


h1 {
  font-family: 'Playfair Display', serif;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  color: #6b526b;
}

.desc-title {
  font-size: 18px;
  text-align: center;
  color: #6b526b;
}

.popular-travel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}



.travel-content {
  position: relative;
  overflow: hidden;
  text-align: center;
  width: 240px;
  height: 340px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin: 1.5rem;
  background-size: cover;
}



.travel-content:hover {
  box-shadow: 5px 15px 25px #eeeeee;
}

.travel-content img {
  height: 100%;
}

.travel-info {
  color: #fff;
  position: absolute;
}

.travel-title {
  font-size: 20px;
  padding: 20px 0 10px;
}

.travel-location {
  font-size: 26px;
}


.travel-btn {
  padding: 170px 0 80px;
}


.travel-content a:link,
.travel-content a:visited {
  display: inline-block;
  text-decoration: none;
  background-color: #A87FA8;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transform: all 0.2s;
  color: #FFf;
}

.travel-content a:hover {
  transform: scale(1.1);
  background-color: #CBAACB;
}