@import url('https://fonts.googleapis.com/css?family=Assistant:200,300,400,600,700,800|Playfair+Display:400,400i,700,700i,900,900i&display=swap');

.navbar {
  font-family: 'Assistant', sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 65px;
  padding: 0 80px;
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}

.imgLogo {
  cursor: pointer;
}

.nav-items {
  display: flex;
  list-style: none;
  text-align: center;
  flex-grow: 1;
  gap: 15px;
  justify-content: flex-end;


}

.nav-item {
  position: relative;
}

.category-submenu {
  padding: 8px;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  top: 100%;
  right: 10;
  z-index: 1;
  text-align: left;
}

li {
  padding: 1px;
}

.submenu-item {
  padding: 2px 14px;
  display: block;

}


.home,
.tourism,
.category {
  font-size: 16px;
  text-decoration: none;
  padding: 10px 15px;
  margin: 0 4px;
  cursor: pointer;
  color: #6b526b;
}

/* a {
  color: #CBAACB;
} */

a.active,
a:hover {
  transition: .5s;
  font-weight: bold;
  color: #6b526b;
}

.nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  display: none;
  outline: none;
  opacity: 0;
  font-size: 1.2rem;
}

@media only screen and (max-width:1024px) {
  .imgLogo {
    display: flex;
    position: absolute;
    top: 15px;
    left: 25px;
  }

  .nav-btn {
    display: block;
    opacity: 1;
  }

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    transition: 1s;
    transform: translateY(-100vh);
  }

  .responsive_nav {
    transform: none;
  }

  .nav-close-btn {
    position: absolute;
    top: 0.1rem;
    right: 2rem;
  }


}